@model List<Forum.Models.Post>
@{
    ViewData["Title"] = "Home";
}

@{
	if (Model != null && Model.Count > 0)
	{
		foreach (var post in Model)
		{
			<div class="row">
				<div class="col s12">
					<div class="container">
						<a href="@Url.Action("Read", "Post", new {id = post.Id.ToString()})">
							<div class="card hoverable darken-4 teal white-text" style="cursor: pointer">
								<div class="card-action" style="border-bottom: 1px solid #a0a0a0; border-bottom: 1px solid rgba(160, 160, 160, 0.2)">
									<h4 class="card-title" style="font-weight: bold;">@post.Title</h4>
									<p class="blue-grey-text">By @post.User.Username</p>
								</div>
								<div class="card-content">
									@if (post.Content.Length > 100)
									{
										@(post.Content.Take(100) + "...")
									}
									else
									{
										@post.Content
									}
								</div>
								<div class="card-action">
									<p class="blue-grey-text">Created on: @post.CreatedOn.ToString("f") UTC</p>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		}
	}
	else
	{
		<div class="row">
			<div class="col s12">
				<div class="container">
					<h2>There are currently no posts.</h2>
				</div>
			</div>
		</div>
	}
}