@using Forum.Business
@model Tuple<Forum.Models.User, List<Forum.Models.Post>>
@{
	var user = Model.Item1;
	var posts = Model.Item2;
}
@{
	ViewData["Title"] = "Dashboard";
}

@if (user.Role == Role.Administrator)
{
	if (posts != null && posts.Count > 0)
	{
		foreach (var post in posts)
		{
			<div class="row">
				<div class="col s12">
					<div class="container">
						<div class="card hoverable darken-4 teal white-text">
							<div class="card-action" style="border-bottom: 1px solid #a0a0a0; border-bottom: 1px solid rgba(160, 160, 160, 0.2)">
								<h4 class="card-title" style="font-weight: bold;">@post.Title</h4>
								<p class="blue-grey-text">By: @post.User.Username</p>
								<p class="blue-grey-text">Status: @post.Status</p>
							</div>
							<div class="card-content">
								@if (post.Content.Length > 100)
								{
									@(post.Content.Substring(0, 100) + "...")
								}
								else
								{
									@post.Content
								}
							</div>
							<div class="card-action">
								@Html.ActionLink("Read", "Read", "Post", new { id = post.Id.ToString() }, new { @class = "btn" })
								@if (post.Status == Status.Hidden)
								{
									@Html.ActionLink("Publish", "Publish", "Post", new { id = post.Id.ToString() }, new { @class = "btn" })
								}
								else
								{
									@Html.ActionLink("Hide", "Hide", "Post", new { id = post.Id.ToString() }, new { @class = "btn" })
								}
								@Html.ActionLink("Delete permanently", "Delete", "Post", new { id = post.Id.ToString() }, new { @class = "btn" })
								@if (post.Status == Status.Deleted)
								{
									@Html.ActionLink("Restore", "Hide", "Post", new { id = post.Id.ToString() }, new { @class = "btn" })
								}
							</div>
						</div>
					</div>
				</div>
			</div>
		}
	}
	else
	{
		<div class="row">
			<div class="col s12">
				<div class="container">
					<h2>No posts have been submitted yet. Write your first post @(Html.ActionLink("here", "New", "Post")).</h2>
				</div>
			</div>
		</div>
	}
}
else if (user.Role == Role.Member)
{
	if (posts != null && posts.Count > 0)
	{
		foreach (var post in posts)
		{
			<div class="row">
				<div class="col s12">
					<div class="container">
						<div class="card hoverable darken-4 teal white-text">
							<div class="card-action" style="border-bottom: 1px solid #a0a0a0; border-bottom: 1px solid rgba(160, 160, 160, 0.2)">
								<h4 class="card-title" style="font-weight: bold;">@post.Title</h4>
								<p class="blue-grey-text">Status: @post.Status</p>
							</div>
							<div class="card-content">
								@if (post.Content.Length > 100)
								{
									@(post.Content.Substring(0, 100) + "...")
								}
								else
								{
									@post.Content
								}
							</div>
							<div class="card-action">
								@Html.ActionLink("Read", "Read", "Post", new { id = post.Id.ToString() }, new { @class = "btn" })
								@Html.ActionLink("Delete", "Delete", "Post", new { id = post.Id.ToString() }, new { @class = "btn" })
							</div>
						</div>
					</div>
				</div>
			</div>
		}
	}
	else
	{
		<div class="row">
			<div class="col s12">
				<div class="container">
					<h2>You have not written any posts yet. Write your first post @(Html.ActionLink("here", "New", "Post")).</h2>
				</div>
			</div>
		</div>
	}
}
else
{
	<h2>Your role is @user.Role.ToString()</h2>
}